@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #6b876b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-scrollbar-track-color: var(--main-color);
  background-color: #dfe8df;
  scrollbar-base-color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Montserrat Regular";
  src: local("Montserrat Regular"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
